Repository ericfunman/Consultator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["-r", "app/"]
        exclude: ^tests/

  - repo: https://github.com/rubik/radon
    rev: 6.0.0
    hooks:
      - id: radon
        args: ["cc", "--min", "C", "--show-complexity"]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        files: \.py$
        args: [--rcfile=.pylintrc, --reports=no, --score=no]

      - id: pytest
        name: pytest
        entry: python -m pytest
        language: system
        pass_filenames: false
        args: ["tests/", "-v", "--tb=short", "--cov=app", "--cov-report=term-missing"]
        files: ^(tests/|app/)

exclude: |
  (?x)^(
      .*\.git/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.cache/.*|
      .*__pycache__/.*|
      .*backups/.*|
      .*\.db$|
      .*\.log$|
      .*\.tmp$
  )$

Fix: Correction erreur statistiques Business Managers + Rapport qualité
  CORRECTION_BM_STATISTICS.md
  RESUME_RAPPORT_QUALITE.md
  Rapport_Qualite_Code_Consultator_20251002_180607.docx
  app/pages_modules/business_managers.py
  generate_quality_report.py
  test_bm_statistics_fix.py
Due: pylint, pytest

Fix: Corrections dashboard - Erreurs SQL et DataFrame + Documentation complète
  .streamlit/config.toml
  CORRECTION_DATAFRAME_BUG.md
  DASHBOARD_SYSTEM_GUIDE.md
  GUIDE_RAPIDE_DASHBOARD.md
  GUIDE_VISUEL_DASHBOARD.md
  INDEX_DOCUMENTATION_DASHBOARD.md
  NOTICE_DASHBOARD.md
  RAPPORT_TECHNIQUE_DASHBOARD.md
  README_CORRECTIONS_DASHBOARD.md
  app/database/models.py
  app/pages_modules/business_managers.py
  app/pages_modules/dashboard_advanced.py
  app/pages_modules/dashboard_builder.py
  app/pages_modules/dashboard_page.py
  app/services/dashboard_service.py
  app/services/widget_factory.py
  create_dashboard_tables.py
  init_dashboard_system.py
  reload_all_data.py
  reload_complete_data.py
  test_dashboard_system.py
Due: pylint, pytest

Fix: Correction configuration Black dans main-pipeline.yml
  .github/workflows/main-pipeline.yml
Due: none

Fix: Désactivation du blocage isort dans CI/CD
  .github/workflows/main-pipeline.yml
Due: none

Feat: Ajout outils de validation CI/CD
  .isort.cfg
  GUIDE_BONNES_PRATIQUES_CICD.md
  validate_before_push.ps1
  validate_before_push.sh
Due: none

Fix: Correction encodage script PowerShell (emojis -> ASCII)
  validate_before_push.ps1
Due: none

Fix: Correction massive 23/29 issues SonarCloud (Phases 1+2)
  app/pages_modules/dashboard_advanced.py
  app/pages_modules/dashboard_builder.py
  app/pages_modules/dashboard_page.py
  app/services/chatbot_service.py
  sonar_analysis_report.md
Due: pylint, pytest

Fix: Suppression variables 'e' inutilisées (3 exceptions) + 1 paramètre
  app/pages_modules/dashboard_advanced.py
Due: pylint, pytest

Fix: dict() -> {} literal (1 issue)
  CORRECTION_SONARCLOUD_PHASES_1_2.md
  SECURITY_HOTSPOTS_ANALYSIS.md
  app/pages_modules/dashboard_advanced.py
  sonar_analysis_report.md
Due: pylint, pytest

Security: Fix ReDoS vulnerability in competence regex patterns
  app/services/chatbot_service.py
Due: pylint, pytest

fix(security): Fix ReDoS vulnerability in chatbot_service and format with Black/isort
  app/pages_modules/consultant_info.py
  app/services/chatbot_service.py
Due: pylint, pytest

fix(security): Add security comments for non-cryptographic random usage in dashboard_advanced
  app/pages_modules/dashboard_advanced.py
Due: pylint, pytest

style: Reformat code with Black --line-length 120 to fix CI/CD
  app/pages_modules/consultant_info.py
  app/pages_modules/dashboard_advanced.py
  app/services/chatbot_service.py
Due: pylint, pytest

fix(security): Add noqa annotations for SonarCloud random usage warnings
  app/pages_modules/dashboard_advanced.py
Due: pylint, pytest

fix(security): Update noqa annotations to S2245 for SonarCloud random warnings
  app/pages_modules/dashboard_advanced.py
Due: pylint, pytest

fix(security): Replace random with secrets module for SonarCloud compliance
  app/pages_modules/dashboard_advanced.py
Due: pylint, pytest

Fix SonarCloud High Priority Issues - Cognitive Complexity
  GUIDE_SONARCLOUD_SECURITY_HOTSPOTS.md
  RESUME_FINAL_CORRECTIONS_SONARCLOUD.md
  app/pages_modules/dashboard_advanced.py
  app/pages_modules/dashboard_builder.py
  app/pages_modules/dashboard_page.py
  app/services/chatbot_service.py
Due: pylint, pytest

fix: Corriger les 4 dernières issues SonarCloud High priority
  app/pages_modules/dashboard_advanced.py
  app/pages_modules/dashboard_builder.py
  app/pages_modules/dashboard_page.py
  tests/ui/test_home.py
Due: pylint, pytest

fix: Correction des mocks Streamlit pour CI/CD
  tests/unit/test_business_managers_chirurgical.py
Due: pylint, pytest

fix: corriger le formatage Black pour le CI/CD
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_languages.py
  app/pages_modules/consultant_skills.py
  app/services/chatbot_service.py
  tests/ui/test_home.py
  tests/unit/test_business_managers_chirurgical.py
Due: pylint, pytest

fix: résoudre les 5 dernières issues SonarCloud
  app/pages_modules/dashboard_builder.py
  app/pages_modules/dashboard_page.py
Due: pylint, pytest

Ajout de 80 nouveaux tests pour augmenter la couverture de code
  tests/unit/test_coverage_boost_dashboard.py
  tests/unit/test_coverage_boost_pages.py
  tests/unit/test_coverage_boost_services.py
  tests/unit/test_helpers_coverage_boost.py
Due: pylint, pytest

Amélioration tests + ajout fonctions helpers
  app/utils/helpers.py
  tests/unit/test_coverage_boost_pages.py
  tests/unit/test_coverage_boost_services.py
Due: pylint, pytest

Ajout fonctions skill_categories + amélioration tests
  app/utils/skill_categories.py
Due: pylint, pytest

Ajout 8 fonctions helpers + rapport progression
  PROGRESS_REPORT_COVERAGE.md
  app/utils/helpers.py
Due: pylint, pytest

Ajout méthode clear() au CacheService
  app/services/cache_service.py
Due: pylint, pytest

Correction expectations tests (format_currency + file_size_display) - +3 tests
  tests/unit/test_real_functions_coverage.py
Due: pylint, pytest

Ajout méthodes/fonctions manquantes (update_dashboard, DocumentService, etc.) - +11 tests (33043315)
  app/database/database.py
  app/pages_modules/consultant_documents.py
  app/pages_modules/consultant_forms.py
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_languages.py
  app/pages_modules/consultant_list.py
  app/pages_modules/consultant_missions.py
  app/pages_modules/consultant_skills.py
  app/services/chatbot_service.py
  app/services/dashboard_service.py
  app/services/document_service.py
  app/services/widget_factory.py
Due: pylint, pytest

Ajout alias/stubs fonctions privées pour tests - Maintien 3315 tests
  app/pages_modules/consultant_documents.py
  app/pages_modules/consultants.py
  app/pages_modules/documents_functions.py
  app/services/technology_service.py
  app/ui/enhanced_ui.py
Due: pylint, pytest

Suppression tests trop spécifiques/éloignés du code réel - 12779 failed (-48), 33153276 passed
  tests/unit/pages_modules/test_business_managers_coverage.py
  tests/unit/pages_modules/test_consultant_documents_coverage.py
  tests/unit/pages_modules/test_consultant_documents_deep.py
  tests/unit/pages_modules/test_consultants_coverage_boost.py
  tests/unit/test_coverage_boost_dashboard.py
  tests/unit/test_coverage_boost_pages.py
  tests/unit/test_coverage_boost_services.py
  tests/unit/test_extra_coverage.py
  tests/unit/ui/test_enhanced_ui_coverage.py
  tests/unit/ui/test_enhanced_ui_deep.py
  tests/unit/ui/test_enhanced_ui_intensive.py
  tests/unit/ui/test_enhanced_ui_simple.py
Due: pylint, pytest

Suppression test_call_openai_api_ssl_error problématique - 10 failed (100%)
  tests/unit/pages_modules/test_business_managers_coverage.py
  tests/unit/pages_modules/test_business_managers_hyper_targeted.py
  tests/unit/pages_modules/test_business_managers_ultra_simple.py
  tests/unit/pages_modules/test_business_managers_ultra_targeted.py
  tests/unit/pages_modules/test_consultant_documents_intensive.py
  tests/unit/pages_modules/test_consultant_documents_simple.py
  tests/unit/pages_modules/test_consultant_list_additional.py
  tests/unit/pages_modules/test_consultant_list_ultra_simple.py
  tests/unit/pages_modules/test_consultant_missions_coverage.py
  tests/unit/pages_modules/test_consultants_coverage_optimized.py
  tests/unit/pages_modules/test_consultants_ultra_aggressive.py
  tests/unit/pages_modules/test_consultants_ultra_coverage.py
  tests/unit/pages_modules/test_home_mega_coverage.py
  tests/unit/pages_modules/test_home_realistic.py
  tests/unit/pages_modules/test_home_simplified.py
  tests/unit/pages_modules/test_home_targeted.py
  tests/unit/pages_modules/test_home_ultra_simple.py
  tests/unit/pages_modules/test_practices_ultra_simple.py
  tests/unit/pages_modules/test_unit_consultant_missions_coverage.py
  tests/unit/services/test_ai_openai_service.py
  tests/unit/services/test_business_manager_service_coverage.py
  tests/unit/services/test_business_manager_service_intensive.py
  tests/unit/services/test_chatbot_service_ultra_aggressive.py
  tests/unit/test_business_managers_chirurgical.py
  tests/unit/test_business_managers_coverage_boost.py
  tests/unit/test_helpers_coverage_boost.py
  tests/unit/test_real_functions_coverage.py
  tests/unit/test_ultra_targeted_final.py
Due: pylint, pytest

Fix CI/CD workflows - Update GitHub Actions versions and Python matrix
  .github/workflows/main-pipeline.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/tests-simplified.yml
  CORRECTION_CI_CD.md
  check_ci_status_github.py
Due: pylint

Add CI/CD monitoring and documentation files
  RECAP_FINAL_CI_CD.md
  monitor_ci_cd.py
Due: pylint

Add visual summary of CI/CD corrections
  RESULTATS_CORRECTION.txt
Due: none

Fix CI/CD pipeline failures - Make checks non-blocking
  .github/workflows/main-pipeline.yml
  .github/workflows/sonarcloud.yml
  CORRECTION_CI_CD_V2.md
Due: none

Add comprehensive CI/CD and coverage summary documentation
  RESUME_FINAL_CI_CD_COVERAGE.md
Due: none

Coverage boost: 62%64% - 93 tests passants (Phases 1-4)
  coverage.json
  coverage_improvement_plan.py
  tests/unit/services/test_chatbot_handlers_coverage.py
  tests/unit/services/test_chatbot_handlers_phase3.py
  tests/unit/services/test_chatbot_handlers_phase4.py
  tests/unit/services/test_chatbot_service_phase2.py
  tests/unit/services/test_consultant_service_phase5.py
  tests/unit/services/test_dashboard_service_coverage.py
  tests/unit/services/test_document_analyzer_phase6.py
  tests/unit/services/test_widget_factory_coverage.py
  tests/unit/utils/test_helpers_coverage.py
Due: pylint, pytest

Phase 26: Tests consultant_info.py - 33 tests, 100% passing, +11.1% coverage
  tests/unit/pages_modules/test_consultant_info_phase26.py
Due: pylint, pytest

Phase 27: Tests practice_service.py - 25 tests, 100% passing, +32% coverage
  tests/unit/services/test_practice_service_phase27.py
Due: pylint, pytest
