Repository ericfunman/Consultator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["-r", "app/"]
        exclude: ^tests/

  - repo: https://github.com/rubik/radon
    rev: 6.0.0
    hooks:
      - id: radon
        args: ["cc", "--min", "C", "--show-complexity"]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        files: \.py$
        args: [--rcfile=.pylintrc, --reports=no, --score=no]

      - id: pytest
        name: pytest
        entry: python -m pytest
        language: system
        pass_filenames: false
        args: ["tests/", "-v", "--tb=short", "--cov=app", "--cov-report=term-missing"]
        files: ^(tests/|app/)

exclude: |
  (?x)^(
      .*\.git/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.cache/.*|
      .*__pycache__/.*|
      .*backups/.*|
      .*\.db$|
      .*\.log$|
      .*\.tmp$
  )$

Clean up temporary diagnostic files
  diagnose_encoding.py
  diagnose_test_file.py
  fix_encoding.py
Due: pylint

Amélioration couverture tests: 20/20 tests consultants passent
  app/services/consultant_service.py
  tests/test_chatbot_service_coverage.py
  tests/unit/pages_modules/test_business_managers_coverage.py
  tests/unit/pages_modules/test_consultant_forms_pages.py
  tests/unit/pages_modules/test_consultants_coverage.py
  tests/unit/pages_modules/test_consultants_page.py
Due: pylint, pytest

Amélioration majeure couverture tests: résolution tests chatbot_service
  app/services/chatbot_service.py
  tests/test_chatbot_service_coverage.py
  tests/unit/pages_modules/test_business_managers_coverage.py
Due: pylint, pytest

Fix UTF-8 encoding issues for SonarQube analysis
  app/pages_modules/business_managers.py
  app/pages_modules/consultant_cv.py
  app/pages_modules/consultant_forms.py
  app/pages_modules/consultant_languages.py
  app/pages_modules/consultant_skills.py
  app/pages_modules/consultants.py
  app/services/chatbot_service.py
  sonar-project.properties
  tests/unit/pages_modules/test_consultant_forms_pages.py
Due: pylint, pytest

Fix business manager tests structure
  tests/unit/pages_modules/test_business_managers_coverage.py
Due: pylint, pytest

Fix remaining UTF-8 encoding issues for SonarQube
  app/components/technology_widget.py
  app/pages_modules/business_managers.py
  app/pages_modules/consultants.py
  app/services/chatbot_service.py
  tests/unit/pages_modules/test_consultant_forms_pages.py
Due: pylint, pytest

Fix SonarQube report file errors
  sonar-project.properties
Due: none

Fix SonarQube coverage detection
  coverage.xml
  sonar-project.properties
Due: none

Debug SonarQube coverage detection issues
  coverage.xml
  debug-sonar.sh
  sonar-project.properties
Due: none

Fix SonarQube coverage parser version conflict
  python-coverage.xml
  sonar-project.properties
Due: none

feat: Configuration hybride SonarQube - simplicité + 1144 tests
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: none

Coverage improvement to 63%
  reports/coverage.xml
Due: none

Final coverage: 63% stable baseline for SonarCloud
  reports/coverage.xml
Due: none

Amélioration majeure couverture tests - modules clés optimisés
  app/main_new.py
  app/main_optimized.py
  app/main_optimized_simple.py
  app/main_original_backup.py
  app/main_preloading.py
  app/main_test.py
  app/pages_modules/business_managers_simple.py
  app/pages_modules/consultants_clean.py
  app/pages_modules/consultants_final.py
  app/pages_modules/consultants_optimized.py
  app/pages_modules/missions.py
  app/pages_modules/practices.py
  app/pages_modules/practices_optimized.py
  app/pages_modules/skills.py
  app/services/practice_service_optimized.py
  coverage.xml
  python-coverage.xml
  reports/coverage.xml
  tests/ui/test_practices.py
  tests/unit/pages_modules/test_home_coverage.py
  tests/unit/pages_modules/test_unit_consultant_info_coverage.py
  tests/unit/pages_modules/test_unit_consultant_missions_coverage.py
  tests/unit/pages_modules/test_unit_consultants_coverage.py
  tests/unit/pages_modules/test_unit_documents_functions_coverage.py
  tests/unit/pages_modules/test_unit_home_coverage.py
  tests/unit/test_chatbot_service_80_percent.py
  tests/unit/test_chatbot_service_coverage.py
  tests/unit/test_consultant_service_coverage.py
  tests/unit/test_consultants_coverage.py
  tests/unit/test_coverage_boost.py
  tests/unit/test_helpers_complete_coverage.py
  tests/unit/test_practice_service_coverage.py
  tests/unit/test_real_coverage_boost.py
  tests/unit/ui/test_enhanced_ui.py
Due: pylint, pytest

Optimisation majeure de la couverture de tests - Utils à 96%
  tests/unit/test_document_service_coverage.py
  tests/unit/test_helpers_maximum_coverage_fixed.py
  tests/unit/test_practice_service_coverage.py
  tests/unit/test_practice_service_optimized.py
  tests/unit/test_simple_analyzer_coverage.py
  tests/unit/test_skill_categories_coverage.py
  tests/unit/test_technologies_referentiel_coverage.py
Due: pylint, pytest

Fix: Corrections formatage code principal (main, components, pages)
  app/components/technology_widget.py
  app/main.py
  app/pages_modules/practices.py
Due: pylint, pytest

Fix: Corrections formatage services (cache, chatbot, consultant)
  app/services/cache_service.py
  app/services/chatbot_service.py
  app/services/consultant_service.py
Due: pylint, pytest

Fix: Corrections formatage services & utils (document_analyzer, helpers)
  app/services/document_analyzer.py
  app/utils/helpers.py
Due: pylint, pytest

Fix: Corrections formatage fichiers configuration root
  create_basic_test_data.py
  setup_ci_cd.py
  test_chatbot_sessions.py
  test_ui_enhancements.py
Due: pylint

Fix: Corrections formatage documentation (docs/)
  docs/conf.py
  docs/create_final_word_doc.py
  docs/create_pro_word_doc.py
  docs/create_pro_word_doc_v2.py
  docs/create_ultimate_word_doc.py
  docs/create_word_doc.py
  docs/create_word_doc_enhanced.py
Due: pylint

Fix: Corrections formatage tests configuration
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/base_test.py
  tests/test_chatbot_service_coverage.py
  tests/test_ci_debug.py
  tests/test_performance_v14.py
  tests/test_simple.py
Due: pylint, pytest

Fix: Corrections formatage tests intégration
  tests/integration/workflows/test_consultant_cv.py
  tests/integration/workflows/test_consultant_documents.py
  tests/integration/workflows/test_consultant_workflow.py
  tests/integration/workflows/test_documents_functions.py
  tests/integration/workflows/test_documents_upload.py
  tests/integration/workflows/test_mission_workflow.py
  tests/integration/workflows/test_practice_workflow.py
  tests/integration/workflows/test_search_workflow.py
  tests/integration/workflows/test_statistics_workflow.py
Due: pylint, pytest

Fix: Corrections formatage tests UI
  tests/ui/test_chatbot.py
  tests/ui/test_consultant_forms.py
  tests/ui/test_consultant_forms_fixed.py
  tests/ui/test_consultant_forms_module.py
  tests/ui/test_consultant_info.py
  tests/ui/test_consultant_languages.py
  tests/ui/test_consultant_list.py
  tests/ui/test_consultant_missions.py
  tests/ui/test_consultant_profile.py
  tests/ui/test_consultant_skills.py
  tests/ui/test_consultants.py
  tests/ui/test_home.py
  tests/ui/test_main.py
  tests/ui/test_practices.py
  tests/ui/test_technologies.py
Due: pylint, pytest

Fix: Corrections formatage tests services unitaires
  tests/unit/services/test_business_manager_service.py
  tests/unit/services/test_cache_service.py
  tests/unit/services/test_chatbot_service.py
  tests/unit/services/test_consultant_service.py
  tests/unit/services/test_document_analyzer.py
  tests/unit/services/test_document_service.py
  tests/unit/services/test_practice_service.py
  tests/unit/services/test_services.py
  tests/unit/services/test_simple_analyzer.py
  tests/unit/services/test_technology_service.py
Due: pylint, pytest

Fix: Corrections formatage tests modules pages
  tests/unit/pages_modules/test_business_managers_coverage.py
  tests/unit/pages_modules/test_consultant_forms_pages.py
  tests/unit/pages_modules/test_consultants_coverage.py
  tests/unit/pages_modules/test_consultants_page.py
  tests/unit/pages_modules/test_home_coverage.py
  tests/unit/pages_modules/test_unit_consultant_info.py
  tests/unit/pages_modules/test_unit_consultant_info_coverage.py
  tests/unit/pages_modules/test_unit_consultant_missions_coverage.py
  tests/unit/pages_modules/test_unit_consultants_coverage.py
  tests/unit/pages_modules/test_unit_documents_functions_coverage.py
  tests/unit/pages_modules/test_unit_home_coverage.py
Due: pylint, pytest

Fix: Corrections formatage tests unitaires finaux
  tests/unit/components/test_technology_widget.py
  tests/unit/database/test_database.py
  tests/unit/models/test_database_coverage.py
  tests/unit/models/test_models.py
  tests/unit/pages/test_pages.py
  tests/unit/test_application_coverage.py
  tests/unit/test_chatbot_service_80_percent.py
  tests/unit/test_chatbot_service_coverage.py
  tests/unit/test_consultant_forms_unit.py
  tests/unit/test_consultant_service_coverage.py
  tests/unit/test_consultants_coverage.py
  tests/unit/test_coverage_boost.py
  tests/unit/test_document_service_coverage.py
  tests/unit/test_force_coverage.py
  tests/unit/test_helpers_complete_coverage.py
  tests/unit/test_helpers_maximum_coverage_fixed.py
  tests/unit/test_practice_service_coverage.py
  tests/unit/test_practice_service_optimized.py
  tests/unit/test_real_coverage_boost.py
  tests/unit/test_simple_analyzer_coverage.py
  tests/unit/test_skill_categories_coverage.py
  tests/unit/test_technologies_referentiel_coverage.py
  tests/unit/ui/test_enhanced_ui.py
  tests/unit/utils/test_skill_categories.py
  tests/unit/utils/test_technologies_referentiel.py
  tests/unit/utils/test_utils.py
Due: pylint, pytest

Fix: Correction encodage UTF-8 pour practice_service.py et technology_service.py
  app/services/practice_service.py
  app/services/technology_service.py
Due: pylint, pytest

Fix: Correction tri imports isort pour helpers.py et practices.py
  app/pages_modules/practices.py
  app/utils/helpers.py
Due: pylint, pytest

Refactor: Consolidation pipelines CI/CD - Suppression doublons et optimisation
  .github/workflows/ci.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/quality-pipeline-fixed.yml
  .github/workflows/quality-pipeline.yml
Due: none

Fix: Correction régression couverture SonarCloud - Pipeline robuste
  .github/workflows/sonarcloud.yml
Due: none

Fix: Amélioration robuste initialisation BDD pour tests CI/CD
  .github/workflows/main-pipeline.yml
  .github/workflows/sonarcloud.yml
  verify_db_setup.py
Due: pylint

Fix: Corrections multiples pipelines CI/CD + couverture SonarCloud
  .github/workflows/main-pipeline.yml
  .github/workflows/sonarcloud.yml
  run_quality_pipeline.py
  tests/integration/workflows/test_statistics_workflow.py
Due: pylint, pytest

Amélioration majeure de la gestion des practices et génération de données de test
  add_managers_to_consultants.py
  app/pages_modules/practices.py
  generate_test_data.py
Due: pylint, pytest

Fix: Résolution des problèmes de qualité de code SonarQube
  app/components/technology_widget.py
  app/database/models.py
  app/main.py
  app/pages_modules/business_managers.py
  app/pages_modules/practices.py
  app/services/chatbot_service.py
Due: pylint, pytest

Fix: Correction import isort dans practices.py
  app/pages_modules/practices.py
Due: pylint, pytest

Fix: Résolution problèmes SonarQube consultant_languages.py
  app/pages_modules/consultant_languages.py
Due: pylint, pytest

Refactor: Réduction complexité cognitive business_managers.py
  app/pages_modules/business_managers.py
Due: pylint, pytest

Refactor: Réduction complexité cognitive fichiers consultant
  app/pages_modules/consultant_cv.py
  app/pages_modules/consultant_documents.py
  app/pages_modules/consultant_forms.py
Due: pylint, pytest

feat: Amélioration modules consultant et ajout scripts missions
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_list.py
  app/pages_modules/consultant_missions.py
  check_and_add_missions.py
  generate_missions_data.py
Due: pylint, pytest
