Repository ericfunman/Consultator: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--line-length=88]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["-r", "app/"]
        exclude: ^tests/

  - repo: https://github.com/rubik/radon
    rev: 6.0.0
    hooks:
      - id: radon
        args: ["cc", "--min", "C", "--show-complexity"]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        files: \.py$
        args: [--rcfile=.pylintrc, --reports=no, --score=no]

      - id: pytest
        name: pytest
        entry: python -m pytest
        language: system
        pass_filenames: false
        args: ["tests/", "-v", "--tb=short", "--cov=app", "--cov-report=term-missing"]
        files: ^(tests/|app/)

exclude: |
  (?x)^(
      .*\.git/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.cache/.*|
      .*__pycache__/.*|
      .*backups/.*|
      .*\.db$|
      .*\.log$|
      .*\.tmp$
  )$

Amélioration couverture tests consultant_missions.py
  tests/test_additional_consultant_missions_coverage.py
  tests/test_consultant_missions_coverage.py
  tests/unit/pages_modules/test_additional_consultant_missions_coverage.py
  tests/unit/pages_modules/test_consultant_missions_coverage.py
Due: pylint, pytest

Fix SSL security vulnerability in OpenAI service
  app/services/ai_openai_service.py
  tests/unit/pages_modules/test_additional_consultant_missions_coverage.py
  tests/unit/pages_modules/test_consultant_languages.py
  tests/unit/pages_modules/test_consultant_profile.py
Due: pylint, pytest

Fix Black code formatting for CI/CD
  app/services/ai_openai_service.py
Due: pylint, pytest

Fix SonarQube constant boolean expression warning
  tests/unit/pages_modules/test_unit_consultants_coverage.py
Due: pylint, pytest

feat: Améliorer la couverture de tests pour consultant_missions.py
  tests/test_consultant_missions_coverage.py
  tests/unit/pages_modules/test_consultant_missions_coverage.py
  tests/unit/pages_modules/test_unit_consultants_coverage.py
Due: pylint, pytest

Amélioration couverture tests consultant_missions.py
  tests/unit/pages_modules/test_consultant_missions_coverage.py
Due: pylint, pytest

feat: améliorer la couverture de test de consultants.py de 12% à 17%
  tests/test_consultants.py
  tests/unit/pages_modules/test_consultant_documents_coverage.py
  tests/unit/pages_modules/test_consultant_documents_simple_coverage.py
  tests/unit/services/test_ai_openai_service.py
Due: pylint, pytest

Amélioration majeure de la couverture de tests
  tests/integration/workflows/test_documents_upload.py
  tests/test_consultants.py
  tests/ui/test_consultants.py
  tests/unit/pages_modules/test_consultant_documents_coverage.py
  tests/unit/test_cache_service_coverage.py
  tests/unit/test_main_coverage.py
Due: pylint, pytest

fix: Modernisation Streamlit et correction bug business managers
  .streamlit/.streamlitignore
  .streamlit/config.toml
  SEARCH_FUNCTIONALITY.md
  app/pages_modules/business_managers.py
  app/pages_modules/consultant_documents.py
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_languages.py
  app/pages_modules/consultant_list.py
  app/pages_modules/consultant_missions.py
  app/pages_modules/consultants.py
  app/pages_modules/home.py
  app/pages_modules/practices.py
  app/ui/enhanced_ui.py
  consultants_final.py
  reports/coverage.xml
  tests/unit/ui/test_enhanced_ui_coverage.py
Due: pylint, pytest

style: Correction du style de guillemets pour Black
  app/pages_modules/business_managers.py
  app/services/practice_service.py
  app/services/technology_service.py
Due: pylint, pytest

style: Formatage automatique avec Black et correction encodage UTF-8
  app/pages_modules/business_managers.py
  app/pages_modules/consultant_documents.py
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_languages.py
  app/pages_modules/consultant_list.py
  app/pages_modules/consultant_missions.py
  app/pages_modules/consultants.py
  app/pages_modules/home.py
  app/pages_modules/practices.py
  app/services/practice_service.py
  app/services/technology_service.py
  app/ui/enhanced_ui.py
Due: pylint, pytest

feat: Reset database and reimport VSA data
  add_entite_column.py
  app/database/models.py
  app/pages_modules/consultant_info.py
  app/pages_modules/consultant_list.py
  app/pages_modules/consultant_profile.py
  app/pages_modules/consultants.py
  check_entite_field.py
  check_eric_bm.py
  check_eric_import.py
  create_base_practices.py
  create_excel_example_vsa.py
  create_vsa_missions_table.py
  import_vsa_missions.py
  import_vsa_missions_complet.py
  import_vsa_personnes.py
  map_societes_to_practices.py
  missions_vsa_example.xlsx
  search_eric_lapina.py
  show_final_stats.py
Due: pylint, pytest

CRITICAL FIX: Correction du bug d'import des missions VSA
  app/database/models.py
  app/pages_modules/consultant_info.py
  import_vsa_missions_complet.py
Due: pylint, pytest

style: Correction syntaxe Python et formatage Black
  restore_eric_missions.py
Due: pylint

fix: Correction configuration SonarCloud - couverture 9%
  .github/workflows/sonarcloud.yml
  reports/CORRECTION_SONARCLOUD_FINAL.md
  reports/PLAN_ACTION_COUVERTURE.md
  reports/PLAN_COUVERTURE_80.md
  reports/PROJET_COUVERTURE_80_FINAL.md
  reports/coverage.json
  reports/coverage_best.xml
  reports/coverage_clean.json
  reports/coverage_final_80.json
  reports/coverage_improvement_plan_clean.md
  reports/coverage_phase1.json
  reports/coverage_phase2.json
  reports/coverage_strategic.json
  scripts/bilan_complet_couverture.py
  scripts/count_all_tests.py
  scripts/create_coverage_plan_80.py
  scripts/final_coverage_80.py
  scripts/fix_sonarcloud_coverage.py
  scripts/phase1_services_critiques.py
  scripts/phase2_pages_streamlit.py
  scripts/phase3_modules_utilitaires.py
  sonar-project.properties
  tests/auto_generated/database/test_database_generated.py
  tests/auto_generated/database/test_models_generated.py
  tests/auto_generated/pages/test_consultant_info_generated.py
  tests/auto_generated/pages/test_consultant_missions_generated.py
  tests/auto_generated/services/test_cache_service_generated.py
  tests/auto_generated/services/test_consultant_service_generated.py
  tests/auto_generated/services/test_document_service_generated.py
  tests/auto_generated/utils/test_technologies_referentiel_generated.py
  tests/unit/pages_modules/test_consultants_generated.py
  tests/unit/services/test_priority_services.py
  tests/working/test_basic_services.py
  tests/working/test_models_coverage.py
  tests/working/test_pages_imports.py
  tests/working/test_utils_coverage.py
Due: pylint, pytest

MAJOR FIX: Couverture SonarCloud 5% 39% avec 1577 tests
  .github/workflows/sonarcloud.yml
  fix_sonar_tests_express.py
  reports/MISSION_ACCOMPLIE_SONARCLOUD.md
  tests/regression/test_sonar_validation.py
  tests/regression_backup/__init__.py
  tests/regression_backup/test_core_features.py
  tests/regression_backup/test_service_regression.py
  tests/regression_backup/test_vsa_import_regression.py
Due: pylint, pytest

FIX: Correction 51 erreurs SonarCloud spécifiques
  SONARCLOUD_MISSION_ACCOMPLISHED.md
  final_test_corrections.py
  fix_auto_generated_tests.py
  fix_sonarcloud_51_errors.py
  tests/auto_generated/database/test_models_generated.py
  tests/auto_generated/models/test_models_auto.py
  tests/auto_generated/services/test_consultant_service_generated.py
  tests/auto_generated/services/test_document_service_generated.py
Due: pylint, pytest

Correction complète des erreurs SonarCloud
  pytest.ini
  tests/auto_generated/services/test_document_service_generated.py
  tests/problematic_tests/unit/test_main_coverage.py
  tests/regression/test_vsa_import_regression.py
  tests/ui/test_main.py
  tests_backup/20250926_112848/regression/test_import_regression.py
  tests_backup/20250926_112848/unit/pages/test_pages.py
  tests_backup/20250926_112848/unit/pages_modules/test_business_managers_advanced.py
  tests_backup/20250926_112848/unit/pages_modules/test_business_managers_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_business_managers_simple.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultant_documents_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultant_documents_simple.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultant_documents_simple_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultant_languages_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultant_list_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_consultants_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_home_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_practices_coverage.py
  tests_backup/20250926_112848/unit/pages_modules/test_unit_consultants_coverage.py
  tests_backup/20250926_112848/unit/services/test_services.py
  tests_backup/20250926_112848/unit/test_helpers_maximum_coverage_fixed.py
  tests_backup/20250926_112848/unit/test_main_coverage.py
  tests_backup/20250926_112848/unit/ui/test_enhanced_ui.py
  tests_backup/20250926_112848/unit/ui/test_enhanced_ui_coverage.py
  tests_backup/20250926_112848/unit/utils/test_utils.py
Due: pylint, pytest

Correction des 22 erreurs SonarCloud identifiées
  tests/auto_generated/database/test_models_generated.py
  tests/auto_generated/test_clean_imports_auto.py
  tests/auto_generated/test_test_eric_fields_auto.py
  tests/working/test_basic_services.py
  tests/working/test_models_coverage.py
  tests/working/test_utils_coverage.py
Due: pylint, pytest

RÉSOLUTION COMPLÈTE: SonarCloud + Test Collection
  fix_indent.ps1
  tests/auto_generated/database/test_models_generated.py
  tests/working/test_models_coverage.py
Due: pylint, pytest

Fix SonarCloud test failure
  tests/unit/pages_modules/test_unit_documents_functions_coverage.py
Due: pylint, pytest

Augmentation des tests SonarCloud: 1752 1965 tests
  .github/workflows/sonarcloud.yml
Due: none

Fix derniers tests SonarCloud échoués - table practices
  tests/ui/test_consultant_forms.py
  tests/ui/test_consultant_forms_fixed.py
Due: pylint, pytest

debug: Add file structure and coverage debug info for SonarCloud
  .github/workflows/sonarcloud.yml
Due: none

fix: Improve SonarCloud coverage detection with multiple paths and backup locations
  .github/workflows/sonarcloud.yml
  SONARCLOUD_FIX_COMPLETE_REPORT.md
  SONARCLOUD_IMPROVEMENT_REPORT.md
  SONARCLOUD_PROGRESS_REPORT.md
  sonar-project.properties
Due: none

add: coverage.xml at root for SonarCloud backup
  coverage.xml
Due: none

fix: Correct problematic tests - Reach 3049 tests (exceeds 2500 goal) with all tests passing
  tests/unit/test_boost_to_2500.py
Due: pylint, pytest

fix: Complete integration test corrections for SonarCloud stability
  tests/integration/workflows/test_consultant_workflow.py
  tests/integration/workflows/test_mission_workflow.py
  tests/integration/workflows/test_practice_workflow.py
Due: pylint, pytest

Correction finale SonarCloud - Élimination des 17 erreurs restantes
  tests/integration/workflows/test_consultant_cv.py
  tests/integration/workflows/test_consultant_documents.py
  tests/integration/workflows/test_search_workflow.py
Due: pylint, pytest

SonarCloud: Ajout seuils de couverture explicites à 80%
  sonar-project.properties
Due: none

Fix SQLAlchemy session management & dynamic availability
  .streamlit/.streamlitignore
  .streamlit/config.toml
  .vscode/tasks.json
  add_skills_and_languages.py
  app/pages_modules/consultant_info.py
  app/services/chatbot_service.py
  run.py
Due: pylint, pytest

Final chatbot tests fix - ALL TESTS PASSING
  app/services/chatbot_service.py
  tests/unit/services/test_chatbot_service.py
  tests/unit/test_chatbot_service_80_percent.py
  tests/unit/test_chatbot_service_coverage.py
Due: pylint, pytest

style: Format consultant_info.py and chatbot_service.py with Black and isort
  app/pages_modules/consultant_info.py
  app/services/chatbot_service.py
Due: pylint, pytest

fix: Enable Tests et Couverture workflow for master branch
  .github/workflows/tests.yml
Due: none

fix: Update GitHub Actions to use non-deprecated versions (upload-artifact@v4, codecov@v4)
  .github/workflows/tests.yml
Due: none

fix: SonarCloud now runs ALL 2983 tests for complete coverage (73% instead of 53%)
  .github/workflows/sonarcloud.yml
Due: none

fix: Correct Python versions in matrix (use strings 3.9, 3.10, 3.11 instead of numbers)
  .github/workflows/tests.yml
Due: none

fix: Force coverage generation with continue-on-error to prevent 0% coverage in SonarCloud
  .github/workflows/sonarcloud.yml
Due: none
